@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
:root {
  --mainColor: #f6e71d;
  --bubbleBg: #00b4ff;
  --bgColor: #010000;
  --cardBg: #242526;
  --delay: 500ms;
}
* {
  font-size: 17px;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto";
  scroll-padding-top: 30px;

  overflow: hidden;
}

.lora {
  font-family: "Lora" !important;
}

.spaceMono {
  font-family: "Space Mono" !important;
}

.wave {
  font-size: 40px;
}

.scroll-snap-container {
  height: 100vh;
  width: 100vw;
  background-color: #000915;
  /* background-color: #fff;  */
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* background-image: url('test.jpg'); */
}

.section {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--bgColor);
  color: #fff;
  border-radius: 25px;
  transition: padding 0.2s, border 0.5s;
  padding: 45px;
  min-height: 400px;
  
}

.section-content {
  text-align: center;
  padding: 10px;
  max-width: 100vw;
}

.pageContainer {
  transition: transform 0.5s;
  background-color: var(--cardBg);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
    rgba(246, 231, 29, 0.2) 11px 11px;
  border: solid 1px rgb(93, 92, 92);
  margin: 0px 15px;
  transition: border 1s, max-height 0.5s, box-shadow 2s;
  display: grid;
  grid-template-columns: auto auto;
  min-height: 300px;
  max-height: 500px;
  min-width: 300px;
}

.techContainer{
  transition: transform 0.5s;
  background-color: var(--cardBg);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
    rgba(246, 231, 29, 0.2) 11px 11px;
  border: solid 1px rgb(93, 92, 92);
  margin: 0px 15px;
  transition: border 1s, max-height 0.5s, box-shadow 2s;
  display: grid;
  grid-template-columns: auto auto auto auto;
  min-height: 400px;
  max-height: 500px;
  min-width: 300px;
  align-items: center;
  justify-content: center;

}
.project{
  display: grid;
}

.w-600{
  min-width: 600px !important;
}

.x-around{
  justify-content: space-around;
}

.w-120{
  width: 120px !important;
}

.text-center{
  text-align: center;
}


.project img{
  height: 60px;
  width: 60px;
  margin: 10px;
  border-radius: 25px;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin: 10px 0px;
}
nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.p-30 {
  padding: 30px 30px;
}

.px-30 {
  padding: 30px 0px;
}

.py-30 {
  padding: 0px 30px;
}

.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}

.text-secondary {
  color: var(--mainColor);
  transition: 0.5s;
}

.text-align-start {
  text-align: start;
}

.ml-7 {
  margin-left: 7px;
}



.social {
  height: 50px;
  border-radius: 10%;
}

.me {
  /* margin-left: 0vw;
  max-height: 0px;
  margin-right: 25px;
  border-radius: 25%;

  transition: 0.5s;
  visibility: hidden; 
  transition: opacity 0.5s, max-height 0.5s, box-shadow 0.5s; */

  margin-left: 10vw;
  transition: 0.5s;
  border-radius: 10%;
  max-height: 350px;
  box-shadow: none;
  display: block;
  opacity: 1; 
  visibility: visible; 
}

.button {
  background-color: transparent;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 40px;
  box-shadow: 20px 20px 50px black;
}

.white {
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.bookmark {
  display: flex;
  align-items: start;
  justify-content:start;
  height: 100px;
  opacity: 1; /* Fade in when hovered */
  visibility: visible; /* Make it visible when hovered */
  transition: opacity 2s, max-height 3s, box-shadow 5s;
}

.bookmark-item {
  border-radius: 25px;
  background-color: var(--cardBg);
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 2px 2px var(--mainColor), rgba(246, 231, 29, 0.4) 4px 4px,
    rgba(246, 231, 29, 0.2) 6px 6px;
  border: solid 1px rgb(93, 92, 92);
  color: var(--mainColor);
  
}

.active {
  color: var(--cardBg);
  background-color: var(--mainColor);
  box-shadow: 2px 2px rgb(66, 66, 66), 4px 4px rgb(48, 48, 48),
    6px 6px rgb(0, 0, 0);
  border: solid 1px rgb(93, 92, 92);
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P" !important;
}

.auto{
  grid-area: auto;
}

.border-right{
  border-right: 2px solid white;
}

.tech{
  height: 60px;
  width: 60px;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  object-fit:contain;

}
/* 


        ALL HOVERS 

*/
.bookmark-item:hover {
  color: var(--cardBg);
  background-color: var(--mainColor);
  box-shadow: 2px 2px rgb(66, 66, 66), 4px 4px rgb(48, 48, 48),
    6px 6px rgb(0, 0, 0);
  border: solid 1px rgb(93, 92, 92);
  cursor: pointer;
}


.pageContainer:hover {
  border: solid 1px white;
  box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
    rgba(246, 231, 29, 0.2) 15px 15px;
}
.section:hover .button {
  color: var(--bgColor);
  background-color: var(--mainColor);
  transition: 0.5s;
}


.section:hover .text-secondary {
  transition: 0.5s;
}

.section:hover .wave {
  display: none;
}

.button:hover {
  color: var(--mainColor) !important;
  background-color: var(--cardBg) !important;
}



@media (hover: hover) {
  .bookmark-item:hover {
    color: var(--cardBg);
    background-color: var(--mainColor);
    box-shadow: 2px 2px rgb(66, 66, 66), 4px 4px rgb(48, 48, 48),
      6px 6px rgb(0, 0, 0);
    border: solid 1px rgb(93, 92, 92);
    cursor: pointer;
  }

  
  .pageContainer:hover {
    border: solid 1px white;
    box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
      rgba(246, 231, 29, 0.2) 15px 15px;
  }
  .section:hover .button {
    color: var(--bgColor);
    background-color: var(--mainColor);
    transition: 0.5s;
  }
  
  /* .section:hover .me {
    margin-left: 10vw;
    transition: 0.5s;
    border-radius: 10%;
    max-height: 350px;
    box-shadow: none;
    display: block;
    opacity: 1; 
    visibility: visible; 
  } */
  
  .section:hover .text-secondary {
    transition: 0.5s;
  }
  
  .section:hover .wave {
    display: none;
  }
  
  .button:hover {
    color: var(--mainColor) !important;
    background-color: var(--cardBg) !important;
  }
  

}

@media only screen and (max-width: 600px) {
   .wave {
    display: none !important;
  }
 
  * {
    font-size: 15px;
  }
  .me {
    display: none;
    width: 0px;
    visibility: hidden;
    margin-left: 0px;
    margin-right: 0px;
  } 
  .pageContainer{
    min-width: 70vw;
  }

}
