@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
:root {
  --mainColor: #f6e71d;
  --bubbleBg: #00b4ff;
  --bgColor: #010000;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto";
  scroll-padding-top: 30px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lora {
  font-family: "Lora" !important;
}

.spaceMono {
  font-family: "Space Mono" !important;
}

/* Create a container for the full-page layout */
.scroll-snap-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Style each section of the full-page layout */
.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background-color: var(--bgColor);
  color: #fff;
  height: 100%; /* Each section takes up the full viewport height */
  min-height: 100%;
}

.section-content {
  text-align: center;
  padding: 10px;
}
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin: 10px 0px;
}
nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.p-30 {
  padding: 30px 30px;
}

.px-30 {
  padding: 30px 0px;
}

.py-30 {
  padding: 0px 30px;
}

.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}

.text-secondary {
  color: var(--mainColor);
  transition: 0.5s;
}

.text-align-start {
  text-align: start;
}

.ml-15 {
  margin-left: 15px;
}

.ml-7 {
  margin-left: 7px;
}

.two-em {
  font-size: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social {
  height: 50px;
  border-radius: 10%;
}

.me {
  margin-left: 0vw;
  max-height: 0px;
  margin-right: 25px;
  border-radius: 25%;
  /* box-shadow: rgba(246, 231, 29, 0.4) 5px 5px, rgba(246, 231, 29, 0.3) 10px 10px,
    rgba(246, 231, 29, 0.2) 15px 15px, rgba(246, 231, 29, 0.1) 20px 20px,
    rgba(246, 231, 29, 0.05) 25px 25px; */
  transition: 0.5s;
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.5s, max-height 0.5s, box-shadow 0.5s;
}

.button {
  background-color: transparent;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 40px;
}

.section1 {
  transform: scale(0);
  transition: transform 0.5s;
  /* border: 1px solid red; */
  background-color: #242526;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
    rgba(246, 231, 29, 0.2) 11px 11px;
  border: solid 1px rgb(93, 92, 92);
  margin: 0px 15px;
}

.section1:hover {
  border: solid 1px white;
  box-shadow: 5px 5px var(--mainColor), rgba(246, 231, 29, 0.4) 8px 8px,
    rgba(246, 231, 29, 0.2) 15px 15px;
}

.section1.visible {
  transform: scale(1);
}

.section1:hover .button {
  font-size: 20px;
  color: var(--bgColor);
  background-color: var(--mainColor);

  transition: 0.5s;
}

.section1:hover .me {
  margin-left: 10vw;
  transition: 0.5s;
  border-radius: 10%;
  max-height: 350px;
  box-shadow: none;
  display: block;
  opacity: 1; /* Fade in when hovered */
  visibility: visible; /* Make it visible when hovered */
}

.section1:hover .text-secondary {
  transition: 0.5s;
  font-size: 1.2em;
}

.section1:hover .wave {
 
  display:none;
}

.section2 {
  transform: scale(0) translateX(100%);
  transition: transform 0.5s ease-in-out 100ms;
}

.section2.visible {
  transform: scale(1) translateX(0); /* Scale up and reset translation when visible */
}

.section3 {
  transform: scale(0) translateX(-100%);
  transition: transform 0.5s ease-in-out 100ms;
}

.section3.visible {
  transform: scale(1) translateX(0); /* Scale up and reset translation when visible */
}

.button:hover {
  background-color: #f6e71d;
  color: black;
}

.project {
  border-radius: 50px;
  height: 4em;
  width: 5em;
  transition: transform 0.2s, filter 0.4s;
  padding: 0px;
  filter: grayscale(100%);
}

.project:hover {
  transform: scale(1.1); /* Scale up on hover */
  filter: grayscale(0%);
}

.project-columns {
  display: grid;
  grid-template-areas: "left right";
  gap: 10px;
}

.tech-columns {
  display: grid;
  grid-template-areas: "auto auto auto";
}

.tech-column {
  margin: 30px;
}

.tech {
  border-radius: 50px;
  height: 4em;
  width: 5em;
  transition: transform 0.2s, filter 0.4s;
  padding: 0px;
  filter: grayscale(100%);
  object-fit: scale-down;
}

.tech:hover {
  transform: scale(1.1); /* Scale up on hover */
  filter: grayscale(0%);
}

.project-name {
  margin-top: 10px;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}

.img-shadow {
  filter: drop-shadow(0 0 0.75rem #f6e71d);
}
@media only screen and (max-width: 600px) {
  .dp {
    display: none;
  }
  .project {
    /* height: 30px;
    width: 50px;
    padding: 0px;
    margin: 5px 10px; */
  }
  .tech {
    height: 2.5em;
    width: 3em;
  }
  .tech-column {
    margin: 15px;
  }
}
